{
    "openapi": "3.1.0",
    "info": {
        "title": "OpenAPI definition",
        "version": "v0"
    },
    "servers": [
        {
            "url": "http://web.qualityautomacao.com.br",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/INTEGRACAO/WEBHOOK/{id}": {
            "put": {
                "tags": [
                    "Integrações"
                ],
                "summary": "Altera um webhook da filial",
                "operationId": "alterarWebhook",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WebhookAlterarDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Integrações"
                ],
                "summary": "Remove um webhook da filial",
                "operationId": "excluirWebhook",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/INTEGRACAO/RECEBER_TITULO_CONVERTIDO": {
            "put": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "receberTituloConvertido",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegracaoReceberTitulo"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/INTEGRACAO/RECEBER_TITULO": {
            "put": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "receberTitulo",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegracaoReceberTitulo"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/INTEGRACAO/RECEBER_CHEQUE": {
            "put": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "receberCheque",
                "parameters": [
                    {
                        "name": "empresaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegracaoReceberCheque"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/INTEGRACAO/RECEBER_CARTAO": {
            "put": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "receberCartoes",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReceberCartoesDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/INTEGRACAO/REAJUSTAR_ESTOQUE_PRODUTO_COMBUSTIVEL": {
            "put": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "reajustarEstoqueProdutoCombustivel",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReajustarProdutoCombustivel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/INTEGRACAO/PEDIDO_COMBUSTIVEL/PEDIDO/{id}/RECEBER_TITULO_EM_CARTAO": {
            "put": {
                "tags": [
                    "Integração Pedido Combustível"
                ],
                "operationId": "receberTituloCartao",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegracaoReceberTituloCartao"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/INTEGRACAO/GRUPO_CLIENTE/{id}": {
            "put": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "alterarClienteGrupo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ClienteGrupo"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoClienteGrupo"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/CLIENTE_FROTA_VEICULO/{clienteCodigo}/{clienteVeiculoCodigo}": {
            "put": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "alterarClienteFrotaVeiculo",
                "parameters": [
                    {
                        "name": "clienteCodigo",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "clienteVeiculoCodigo",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ParametrosClienteFrotaVeiculo"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/INTEGRACAO/CLIENTE/{id}": {
            "put": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "alterarCliente",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegracaoClienteCadastro"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/INTEGRACAO/ALTERAR_PRODUTO/{id}": {
            "put": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "alterarProduto",
                "parameters": [
                    {
                        "name": "empresaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegracaoProdutoCadastro"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/INTEGRACAO/{tipoOrigem}/{origem}/ARQUIVO": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirArquivoFechamentoCaixa",
                "parameters": [
                    {
                        "name": "tipoOrigem",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "NAO_INFORMADO",
                                "TITULO_PAGAR",
                                "CONTRATO_CLIENTE",
                                "CONTRATO_CLIENTE_FILIAL",
                                "MDFE_AUTORIZADA",
                                "MDFE_CANCELADA",
                                "MDFE_ENCERRADA",
                                "NFE_SAIDA_AUTORIZADA",
                                "NFE_SAIDA_CANCELADA",
                                "NFE_SAIDA_DENEGADA",
                                "NFE_SAIDA_INUTILIZADA",
                                "NFE_ENTRADA",
                                "NFCE_AUTORIZADA",
                                "NFCE_CANCELADA",
                                "NFCE_DENEGADA",
                                "SAT_AUTORIZADO",
                                "SAT_CANCELADO",
                                "NFCE_INUTILIZADA",
                                "FUNCIONARIO",
                                "BOLETO",
                                "ECF_ARQUIVO",
                                "CTE_AUTORIZADO",
                                "CTE_CANCELADO",
                                "CTE_INUTILIZADO",
                                "TITULO_RECEBER_ASSINADO",
                                "NF_SERVICO_AUTORIZADA",
                                "NF_SERVICO_CANCELADA",
                                "MOVIMENTO_CONTA_TRANSFERENCIA",
                                "MOVIMENTO_CONTA_MANUAL",
                                "WEBPOSTO_PROMO",
                                "CASHBACK_CAMPANHA",
                                "CASHBACK_PREMIO",
                                "CLIENTE",
                                "FORNECEDOR",
                                "CASHBACK_PARCEIRO",
                                "CASHBACK_PARCEIRO_SERVICO",
                                "IMAGEM_PDV",
                                "NFE_SAIDA_CANCELADA_EVENTO",
                                "SPED_CONTRIBUICOES",
                                "SPED_FISCAL",
                                "TRR_FOTO",
                                "TRR_ASSINATURA",
                                "NFE_MANIFESTACAO_IMPORTADA",
                                "IMAGEM_AUTO_ATENDIMENTO",
                                "NOTA_ENTRADA_ANEXO",
                                "PEDIDO_COMPRA",
                                "NOTA_SERVICO",
                                "TITULO_RECEBER_ASSINATURA",
                                "DOCUMENTO_WHATSAPP",
                                "DESPESA_FECHAMENTO_CAIXA",
                                "PRE_PAGO",
                                "ETIQUETA_CLIENTE",
                                "TITULO_RECEBER_MANUAL",
                                "REAJUSTE",
                                "FECHAMENTO_CAIXA_APRESENTADO",
                                "CTE_MANIFESTACAO_IMPORTADA",
                                "PRE_PAGO_ASSINADO",
                                "PRE_PAGO_ASSINATURA",
                                "ADIANTAMENTO",
                                "IMAGEM_TELA_ESPELHO",
                                "TITULO_RECEBER_FOTO"
                            ]
                        }
                    },
                    {
                        "name": "origem",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IncluirArquivoFechamentoCaixaDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/WEBHOOK": {
            "get": {
                "tags": [
                    "Integrações"
                ],
                "summary": "Lista os webhooks configurados para a filial",
                "operationId": "consultarWebhooks",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/WebhookCadastroRetorno"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Integrações"
                ],
                "summary": "Cadastra um novo webhook para a filial",
                "operationId": "incluirWebhook",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WebhookIncluirDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WebhookIncluirRetorno"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/TROCA_PRECO_PRODUTO": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirTrocaPrecoProduto",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ParametrosTrocaPreco"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/TROCA_PRECO_COMBUSTIVEL": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirTrocaPrecoCombustivel",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ParametrosTrocaPreco"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/TRANSFERENCIA_BANCARIA": {
            "get": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "consultarTransferenciaBancaria",
                "parameters": [
                    {
                        "name": "empresaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "dataInicial",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "dataFinal",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "vendaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "tipoInclusao",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "contaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "ultimoCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limite",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 2000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoPaginadoIntegracaoTransferencia"
                                }
                            }
                        }
                    }
                },
                "x-mcp": {
                    "description": "\n                    Use quando o usuario perguntar:\n                    - quais transferências bancárias foram feitas no período X?\n                    - qual o valor total transferido entre contas no mês?\n                    - me mostra as transferências entre as datas X e Y\n                    - quais transferências foram feitas da conta X para a conta Y?\n                    - qual o histórico de transferências entre filiais?\n                    - houve alguma transferência bancária hoje?\n                    - me lista as transferências por valor ou data\n                    - qual a transferência vinculada ao adiantamento de fornecedor X?\n\n                    Parâmetros:\n                    - 'dataInicial' e 'dataFinal': período obrigatório\n                    - 'empresaCodigo': filtra por empresa/filial\n                    - 'contaOrigemCodigo': filtra por conta de origem\n                    - 'contaDestinoCodigo': filtra por conta de destino\n\n                    Retorna: data, conta de origem, conta de destino, valor, descrição e tipo de transferência.\n\n                    IMPORTANTE: consulte EMPRESAS primeiro para obter os nomes das filiais (regras gerais na description de EMPRESAS).\n                    Resolução de códigos ao apresentar resultados:\n                    - empresaCodigo → use EMPRESAS para mostrar nome fantasia/sigla\n                    - contaOrigemCodigo / contaDestinoCodigo → use CONTA para mostrar descrição da conta\n                    NUNCA exiba códigos numéricos sozinhos ao usuário.\n\n                    Para movimentos gerais da conta use MOVIMENTO_CONTA.\n                "
                }
            },
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirTransferencia",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ParametrosIncluirTransferencia"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/INTEGRACAO/TITULO_RECEBER": {
            "get": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "consultarTituloReceber",
                "parameters": [
                    {
                        "name": "turno",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "empresaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "dataInicial",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "dataFinal",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "dataHoraAtualizacao",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "apenasPendente",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "codigoDuplicata",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "dataFiltro",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "MOVIMENTO",
                                "VENCIMENTO",
                                "PAGAMENTO"
                            ]
                        }
                    },
                    {
                        "name": "ultimoCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limite",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 2000
                        }
                    },
                    {
                        "name": "convertido",
                        "in": "query",
                        "description": "\n                true = títulos a receber que foram convertidos\n                false = títulos a receber que não foram convertido\n                null ou não informado = todos os títulos a receber.\n            ",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "\n                true = títulos a receber que foram convertidos\n                false = títulos a receber que não foram convertido\n                null ou não informado = todos os títulos a receber.\n            ",
                            "enum": [
                                true,
                                false,
                                false
                            ]
                        }
                    },
                    {
                        "name": "vendaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoPaginadoTituloReceberRede"
                                }
                            }
                        }
                    }
                },
                "x-mcp": {
                    "description": "\n                    Use quando o usuario perguntar:\n                    - quais títulos a receber tenho no período X?\n                    - quais vendas a prazo ou de frota estão em aberto?\n                    - quais clientes têm parcelas vencidas ou a vencer?\n                    - qual o valor total a receber no mês?\n                    - me mostra os títulos a receber entre as datas X e Y\n                    - quais títulos de frota ainda não foram pagos?\n                    - qual o saldo de contas a receber do cliente X?\n                    - quais títulos vencem esta semana?\n                    - qual o total de inadimplência no período?\n\n                    Parâmetros:\n                    - 'dataInicial' e 'dataFinal': período obrigatório\n                    - 'empresaCodigo': filtra por empresa/filial\n                    - 'clienteCodigo': filtra por cliente específico\n                    - 'vendaCodigo': busca títulos de vendas específicas por código(s). Aceita múltiplos valores separados por vírgula (ex: vendaCodigo=100,200). NÃO passe como array JSON.\n                    - 'situacao': filtra por situação do título (aberto, pago, etc.)\n                    - 'tipoData': define se o filtro é por data de emissão ou vencimento\n\n                    Retorna: cliente, valor, data de vencimento, data de pagamento, situação e origem de cada título a receber.\n\n                    IMPORTANTE: consulte EMPRESAS primeiro para obter os nomes das filiais (regras gerais na description de EMPRESAS).\n                    Resolução de códigos ao apresentar resultados:\n                    - empresaCodigo → use EMPRESAS para mostrar nome fantasia/sigla\n                    - clienteCodigo → use CLIENTE para mostrar nome/razão social\n                    NUNCA exiba códigos numéricos sozinhos ao usuário.\n\n                    Para títulos a pagar use TITULO_PAGAR. Para cheques a receber use CHEQUE.\n                "
                }
            },
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirTituloReceber",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IncluirNotaDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/TITULO_PAGAR": {
            "get": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "consultarTituloPagar",
                "parameters": [
                    {
                        "name": "dataInicial",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "dataFinal",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "dataHoraAtualizacao",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "apenasPendente",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "dataFiltro",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "MOVIMENTO",
                                "VENCIMENTO",
                                "PAGAMENTO"
                            ]
                        }
                    },
                    {
                        "name": "ultimoCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limite",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 2000
                        }
                    },
                    {
                        "name": "empresaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "notaEntradaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "tituloPagarCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "fornecedorCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "linhaDigitavel",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "autorizado",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "tipoLancamento",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "BOLETO",
                                "TRIBUTO",
                                "CREDITO_CONTA",
                                "TED",
                                "DOC",
                                "PIX",
                                "LANCAMENTO_MANUAL",
                                "CONVENIO"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoPaginadoTituloPagarRede"
                                }
                            }
                        }
                    }
                },
                "x-mcp": {
                    "description": "\n                    Use quando o usuario perguntar:\n                    - quais títulos a pagar tenho no período X?\n                    - quais compras de combustível ou despesas estão em aberto?\n                    - quais fornecedores têm parcelas vencidas ou a vencer?\n                    - qual o valor total a pagar no mês?\n                    - me mostra os títulos a pagar entre as datas X e Y\n                    - quais contas a pagar estão vencidas?\n                    - qual o saldo de contas a pagar do fornecedor X?\n                    - quais pagamentos vencem esta semana?\n                    - qual o compromisso financeiro total do posto no período?\n\n                    Parâmetros:\n                    - 'dataInicial' e 'dataFinal': período obrigatório\n                    - 'empresaCodigo': filtra por empresa/filial\n                    - 'fornecedorCodigo': filtra por fornecedor específico\n                    - 'linhaDigitavel': filtra por linha digitável do boleto\n                    - 'autorizado': true para apenas títulos autorizados\n                    - 'tipoLancamento': filtra por tipo de lançamento\n\n                    Retorna: fornecedor, valor, data de vencimento, data de pagamento, situação e tipo de cada título a pagar.\n\n                    IMPORTANTE: consulte EMPRESAS primeiro para obter os nomes das filiais (regras gerais na description de EMPRESAS).\n                    Resolução de códigos ao apresentar resultados:\n                    - empresaCodigo → use EMPRESAS para mostrar nome fantasia/sigla\n                    - fornecedorCodigo → use FORNECEDOR para mostrar nome/razão social\n                    - centroCustoCodigo → use CENTRO_CUSTO para mostrar descrição\n                    NUNCA exiba códigos numéricos sozinhos ao usuário.\n\n                    Para duplicatas de compra use DUPLICATA. Para cheques a pagar use CHEQUE_PAGAR.\n                "
                }
            },
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirTituloPagar",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IncluirTituloDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/REAJUSTAR_PRODUTO": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "reajustarProduto",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AjusteEstoqueProduto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/INTEGRACAO/PRODUTO_INVENTARIO": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "produtoInventario",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProdutoInventario"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/INTEGRACAO/PRODUTO_COMISSAO": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirProdutoComissao",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IncluirProdutoComissao"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/INTEGRACAO/PRAZO_TABELA_PRECO/{id}/ITEM": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirPrazoTabelaPrecoItem",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegracaoPrecoEspecialItem"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/PEDIDO_COMPRAS": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "pedidoCompra",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CorpoPedidoCompra"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/PEDIDO_COMBUSTIVEL/PEDIDO": {
            "post": {
                "tags": [
                    "Integração Pedido Combustível"
                ],
                "operationId": "incluirPedido",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegracaoPedidoCombustivelPedido"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoCadastroPedido"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/PEDIDO_COMBUSTIVEL/PEDIDO/{id}/FATURAR": {
            "post": {
                "tags": [
                    "Integração Pedido Combustível"
                ],
                "operationId": "pedidoFaturar",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegracaoPedidoCombustivelFaturar"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/INTEGRACAO/PEDIDO_COMBUSTIVEL/PEDIDO/{id}/DANFE": {
            "post": {
                "tags": [
                    "Integração Pedido Combustível"
                ],
                "operationId": "pedidoDanfe",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/CLIENTE": {
            "get": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "consultarCliente",
                "parameters": [
                    {
                        "name": "clienteCodigoExterno",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "clienteCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            }
                        }
                    },
                    {
                        "name": "empresaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "retornaObservacoes",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "dataHoraAtualizacao",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "frota",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "faturamento",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "limitesBloqueios",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "ultimoCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limite",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 2000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoPaginadoClienteRede"
                                }
                            }
                        }
                    }
                },
                "x-mcp": {
                    "description": "\n                    Use quando o usuario perguntar:\n                    - quais clientes estão cadastrados?\n                    - qual o CPF ou CNPJ do cliente X?\n                    - me mostra os dados do cliente Y (endereço, telefone, e-mail)?\n                    - quais clientes estão ativos ou inativos?\n                    - qual o limite de crédito do cliente X?\n                    - quais clientes são pessoas jurídicas ou físicas?\n                    - me lista clientes do grupo de clientes Z?\n                    - quais clientes foram atualizados recentemente?\n                    - qual o código do cliente para usar em consultas de vendas e títulos?\n\n                    Parâmetros:\n                    - 'clienteCodigo': filtra por código(s) do cliente. Aceita múltiplos valores separados por vírgula (ex: clienteCodigo=3384,1020,5500). NÃO passe como array JSON. Quando informado, retorna exatamente os clientes solicitados sem necessidade de paginação.\n                    - 'empresaCodigo': filtra por empresa/filial\n                    - 'clienteCodigoExterno': filtra pelo código externo do cliente\n                    - 'cnpjCpf': filtra por CPF ou CNPJ\n                    - 'dataHoraAtualizacao': retorna apenas clientes atualizados após essa data/hora\n\n                    Paginação (cursor-based):\n                    - 'ultimoCodigo': cursor de paginação. Retorna registros com código MAIOR que este valor. Use o campo 'ultimoCodigo' da resposta anterior para buscar a próxima página. NÃO use ultimoCodigo para buscar um cliente específico — use 'clienteCodigo' para isso.\n                    - 'limite': quantidade máxima de registros por página (padrão 200, máximo 2000).\n                    - Os códigos dos clientes NÃO são sequenciais (podem saltar de 50 para 3384 para 12000). Isso é normal e não indica grande volume de dados.\n\n                    Retorna: código, nome/razão social, CPF/CNPJ, endereço, telefone, e-mail,\n                    limite de crédito, grupo de clientes e situação.\n                    Para vínculos do cliente por filial use CLIENTE_EMPRESA.\n\n                    IMPORTANTE — TABELA DE REFERÊNCIA:\n                    Este é o endpoint de referência para resolver 'clienteCodigo' retornado por outros endpoints (VENDA, VENDA_CLIENTE, TITULO_RECEBER, etc.).\n                    SEMPRE que for apresentar dados ao usuário, substitua o código do cliente pelo nome/razão social.\n                    NUNCA mostre apenas 'clienteCodigo: 3384' — mostre 'João da Silva' ou a razão social correspondente.\n                "
                }
            },
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirCliente",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegracaoClienteCadastro"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoCadastroCliente"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/PEDIDO_COMBUSTIVEL/CLIENTE": {
            "get": {
                "tags": [
                    "Integração Pedido Combustível"
                ],
                "operationId": "clienteConsultar",
                "parameters": [
                    {
                        "name": "cnpjCpf",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DadosCliente"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirCliente_1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegracaoClienteCadastro"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoCadastroCliente"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/MOVIMENTO_CONTA": {
            "get": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "consultarMovimentoConta",
                "parameters": [
                    {
                        "name": "empresaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "dataInicial",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "dataFinal",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "ultimoCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limite",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 2000
                        }
                    },
                    {
                        "name": "mostraSaldo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "dataHoraAtualizacao",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "documentoOrigemCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "tipoDocumentoOrigem",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "NAO_IDENTIFICADO",
                                "CARTA_FRETE_DUPLICATA",
                                "CARTA_FRETE",
                                "CARTAO_REMESSA",
                                "CHEQUE_DEVOLVIDO",
                                "ACRESCIMO_DUPLICATA",
                                "TRANSFERENCIA",
                                "DESPESA_CHEQUE",
                                "CHEQUE_PAGAR",
                                "MANUAL",
                                "CREDITO_FUNCIONARIO",
                                "CREDITO_FUNCIONARIO_DUPLICATA",
                                "DESCONTO_DUPLICATA",
                                "TAXA_ANTECIPACAO_CARTAO",
                                "NOTA_DUPLICATA",
                                "NOTA",
                                "PRE_PAGO",
                                "CHEQUE_REMESSA",
                                "CARTAO",
                                "SUPRIMENTO",
                                "TITULO_PAGAR",
                                "CHEQUE",
                                "VALE_RECEBIMENTO",
                                "VALE_PAGAMENTO",
                                "CAIXA",
                                "CHEQUE_TROCADO",
                                "TROCO_DUPLICATA",
                                "TITULO_PAGAR_PAGAMENTO",
                                "SERVICO_CAIXA",
                                "TAXA_TRANSACAO",
                                "ACRESCIMO_TITULO_PAGAR",
                                "DESCONTO_TITULO_PAGAR",
                                "DESPESA_USO_CONSUMO",
                                "TROCO_CAIXA",
                                "DESCONTO_VALE_RECEBER",
                                "DESCONTO_VALE_PAGAR",
                                "JUROS_CHEQUE_RECEBER",
                                "EMPRESTIMO",
                                "FUNDO_CAIXA_CREDITO",
                                "FUNDO_CAIXA_DEBITO",
                                "CASH_BACK",
                                "ADIANTAMENTO",
                                "TRANSFERENCIA_BANCARIA",
                                "ORDEM_PAGAMENTO_RECEITA",
                                "ORDEM_PAGAMENTO_DESPESA",
                                "TROCO_CHEQUE_REMESSA",
                                "RECARGA_CELULAR",
                                "EMPRESTIMO_GERADO_TITULO_RECEBER",
                                "TRANSFERENCIA_SANGRIA",
                                "TAXA_TRANSFERENCIA",
                                "FALTA_CAIXA",
                                "SOBRA_CAIXA",
                                "CAIXA_SANGRIA",
                                "DESPESA_ADQUIRENTE",
                                "ACRESCIMO_CARTAO",
                                "DESCONTO_CARTAO",
                                "REMESSA_RECEBIMENTO",
                                "DUCHA",
                                "CARTAO_PAGAR",
                                "TROCO_DIGITAL",
                                "ENTRADA_ANTECIPADA_SANGRIA",
                                "VALE_FUNCIONARIO_CREDITO",
                                "ACRESCIMO_TRANSFERENCIA_BANCARIA",
                                "DESCONTO_TRANSFERENCIA_BANCARIA",
                                "DESPESA_ALTERAR_VL_CARTAO",
                                "GRAVAME"
                            ]
                        }
                    },
                    {
                        "name": "contaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoPaginadoMovimentoConta"
                                }
                            }
                        }
                    }
                },
                "x-mcp": {
                    "description": "\n                    Use quando o usuario perguntar:\n                    - quais foram os movimentos da conta bancária no período X?\n                    - qual o saldo da conta no final do período?\n                    - me mostra os créditos e débitos da conta entre as datas X e Y\n                    - quais pagamentos foram feitos pela conta X no mês?\n                    - quais recebimentos entraram na conta bancária essa semana?\n                    - qual o extrato da conta corrente do período?\n                    - qual conta bancária tem maior movimentação no mês?\n                    - qual o saldo atual da conta bancária X?\n\n                    Parâmetros:\n                    - 'dataInicial' e 'dataFinal': período obrigatório\n                    - 'contaCodigo': filtra por conta bancária específica\n                    - 'empresaCodigo': filtra por empresa/filial\n\n                    Retorna: data, tipo (crédito/débito), valor, descrição, saldo após movimento e conta bancária.\n\n                    IMPORTANTE: consulte EMPRESAS primeiro para obter os nomes das filiais (regras gerais na description de EMPRESAS).\n                    Resolução de códigos ao apresentar resultados:\n                    - empresaCodigo → use EMPRESAS para mostrar nome fantasia/sigla\n                    - contaCodigo → use CONTA para mostrar descrição da conta (banco + agência + número)\n                    NUNCA exiba códigos numéricos sozinhos ao usuário.\n\n                    Para transferências entre contas use TRANSFERENCIA_BANCARIA.\n                "
                }
            },
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirMovimentoConta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ParametrosIncluirMovimentoConta"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "atualizarMovimentoConta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ParametrosMovimentoContaPatch"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/INTEGRACAO/LANCAMENTO_CONTABIL": {
            "get": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "consultarLancamentoContabil",
                "parameters": [
                    {
                        "name": "empresaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "dataInicial",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "dataFinal",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "dataHoraAtualizacao",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "ultimoCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limite",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 2000
                        }
                    },
                    {
                        "name": "loteContabil",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoPaginadoIntegracaoLancamentoContabil"
                                }
                            }
                        }
                    }
                },
                "x-mcp": {
                    "description": "\n                    Use quando o usuario perguntar:\n                    - quais lançamentos contábeis foram gerados no período X?\n                    - me mostra os lançamentos contábeis entre as datas X e Y\n                    - quais débitos e créditos contábeis ocorreram no mês?\n                    - qual o histórico contábil das movimentações financeiras do posto?\n                    - quais lançamentos estão prontos para exportar ao sistema contábil?\n                    - me lista os lançamentos por conta contábil ou centro de custo\n                    - quais lançamentos contábeis ainda não foram integrados?\n                    - qual o valor do lançamento contábil da conta X no período?\n\n                    Parâmetros:\n                    - 'dataInicial' e 'dataFinal': período obrigatório\n                    - 'empresaCodigo': filtra por empresa/filial\n                    - 'planoContaContabilCodigo': filtra por conta contábil específica\n                    - 'exportado': filtra por lançamentos já exportados ou pendentes\n\n                    Retorna: data, conta contábil (débito e crédito), centro de custo, valor, histórico e situação de exportação.\n\n                    IMPORTANTE: consulte EMPRESAS primeiro para obter os nomes das filiais (regras gerais na description de EMPRESAS).\n                    Resolução de códigos ao apresentar resultados:\n                    - empresaCodigo → use EMPRESAS para mostrar nome fantasia/sigla\n                    - centroCustoCodigo → use CENTRO_CUSTO para mostrar descrição\n                    NUNCA exiba códigos numéricos sozinhos ao usuário.\n\n                    Para plano de contas use PLANO_CONTA_CONTABIL.\n                "
                }
            },
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirLancamentoContabil",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ParametrosIncluirLoteContabil"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoIncluirLoteContabil"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/INCLUIR_PRODUTO": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirProduto",
                "parameters": [
                    {
                        "name": "empresaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegracaoProdutoCadastro"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoCadastroProduto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/INCLUIR_OFX": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirOfx",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ParamIncluirOfx"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/INTEGRACAO/GRUPO_CLIENTE": {
            "get": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "consultarGrupoCliente",
                "parameters": [
                    {
                        "name": "grupoCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "grupoCodigoExterno",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ultimoCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limite",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 2000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoPaginadoGrupoClienteRede"
                                }
                            }
                        }
                    }
                },
                "x-mcp": {
                    "description": "\n                    Use quando o usuario perguntar:\n                    - quais grupos de clientes estão cadastrados?\n                    - qual o código do grupo de clientes X?\n                    - quais grupos de clientes estão ativos?\n                    - me lista os grupos de clientes da empresa X\n                    - qual grupo de clientes está vinculado ao cliente Y?\n                    - quais clientes pertencem ao grupo de frota Z?\n                    - qual o código do grupo de clientes para usar em filtros?\n\n                    Parâmetros:\n                    - 'empresaCodigo': filtra por empresa/filial\n\n                    Retorna: código, descrição e situação de cada grupo de clientes.\n                    Use o código retornado para filtrar clientes em CLIENTE.\n                "
                }
            },
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirClienteGrupo",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ClienteGrupo"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoClienteGrupo"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/FORNECEDOR_UNIDADE_NEGOCIO": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "vincularFornecedorUnidadeNegocio",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VincularFornecedorUnidadeNegocio"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/INTEGRACAO/ENVIO_WHATSAPP": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "envioWhataApp",
                "parameters": [
                    {
                        "name": "destinatario",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filial",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "anexo": {
                                        "$ref": "#/components/schemas/Part"
                                    }
                                },
                                "required": [
                                    "anexo"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/INTEGRACAO/ENVIO_EMAIL": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "envioEmail",
                "parameters": [
                    {
                        "name": "destinatario",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "email"
                        }
                    },
                    {
                        "name": "filial",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "anexo": {
                                        "$ref": "#/components/schemas/Part"
                                    }
                                },
                                "required": [
                                    "anexo"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/INTEGRACAO/CLIENTE_UNIDADE_NEGOCIO": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "vincularClienteUnidadeNegocio",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VincularClienteUnidadeNegocio"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/INTEGRACAO/CLIENTE_PRAZO/{codigoCliente}": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirClientePrazo",
                "parameters": [
                    {
                        "name": "codigoCliente",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntegracaoListaClientePrazo"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/INTEGRACAO/CLIENTE_FROTA_VEICULO/{clienteCodigo}": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirClienteFrotaVeiculo",
                "parameters": [
                    {
                        "name": "clienteCodigo",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ParametrosClienteFrotaVeiculo"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/CARTAO_EDI_ARQUIVO_WEBPOSTO": {
            "post": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "incluirCartaoEdiLayoutWebPosto",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/INTEGRACAO/CARTAO": {
            "get": {
                "tags": [
                    "Integrações"
                ],
                "operationId": "consultarCartao",
                "parameters": [
                    {
                        "name": "turno",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "empresaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "dataInicial",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "dataFinal",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "apenasPendente",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "dataFiltro",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "MOVIMENTO",
                                "VENCIMENTO",
                                "PAGAMENTO"
                            ]
                        }
                    },
                    {
                        "name": "dataHoraAtualizacao",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "ultimoCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limite",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 2000
                        }
                    },
                    {
                        "name": "vendaCodigo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetornoPaginadoCartaoRede"
                                }
                            }
                        }
                    }
                },
                "x-mcp": {
[...]
